{% load static %}


<div class="col-lg-6 menu-item filter-salads">
    <img src="{% static 'assets/img/menu/greek-salad.jpg' %}" class="menu-img" alt="">
    <div class="menu-content">
        <a href="#">Greek Salad</a><span>$9.95</span>
    </div>
    <div class="menu-ingredients">
        Fresh spinach, crisp romaine, tomatoes, and Greek olives
    </div>
</div>

<div class="col-lg-6 menu-item filter-salads">
    <img src="{% static 'assets/img/menu/spinach-salad.jpg' %}" class="menu-img" alt="">
    <div class="menu-content">
        <a href="#">Spinach Salad</a><span>$9.95</span>
    </div>
    <div class="menu-ingredients">
        Fresh spinach with mushrooms, hard boiled egg, and warm bacon vinaigrette
    </div>
</div>

<div class="col-lg-6 menu-item filter-salads">
    <img src="{% static 'assets/img/menu/caesar.jpg' %}" class="menu-img" alt="">
    <div class="menu-content">
        <a href="#">Caesar Selections</a><span>$8.95</span>
    </div>
    <div class="menu-ingredients">
        Lorem, deren, trataro, filede, nerada
    </div>
</div>