{% load static %}


<div class="col-lg-6 menu-item filter-specialty">
    <img src="{% static 'assets/img/menu/tuscan-grilled.jpg' %}" class="menu-img" alt="">
    <div class="menu-content">
        <a href="#">Tuscan Grilled</a><span>$9.95</span>
    </div>
    <div class="menu-ingredients">
        Grilled chicken with provolone, artichoke hearts, and roasted red pesto
    </div>
</div>

<div class="col-lg-6 menu-item filter-specialty">
    <img src="{% static 'assets/img/menu/bread-barrel.jpg' %}" class="menu-img" alt="">
    <div class="menu-content">
        <a href="#">Bread Barrel</a><span>$6.95</span>
    </div>
    <div class="menu-ingredients">
        Lorem, deren, trataro, filede, nerada
    </div>
</div>

<div class="col-lg-6 menu-item filter-specialty">
    <img src="{% static 'assets/img/menu/lobster-roll.jpg' %}" class="menu-img" alt="">
    <div class="menu-content">
        <a href="#">Lobster Roll</a><span>$12.95</span>
    </div>
    <div class="menu-ingredients">
        Plump lobster meat, mayo and crisp lettuce on a toasted bulky roll
    </div>
</div>

<div class="col-lg-6 menu-item filter-specialty">
    <img src="{% static 'assets/img/menu/lobster-roll.jpg' %}" class="menu-img" alt="">
    <div class="menu-content">
        <a href="#">Lobster Roll</a><span>$12.95</span>
    </div>
    <div class="menu-ingredients">
        Plump lobster meat, mayo and crisp lettuce on a toasted bulky roll
    </div>
</div>

<div class="col-lg-6 menu-item filter-specialty">
    <img src="{% static 'assets/img/menu/lobster-roll.jpg' %}" class="menu-img" alt="">
    <div class="menu-content">
        <a href="#">Lobster Roll</a><span>$12.95</span>
    </div>
    <div class="menu-ingredients">
        Plump lobster meat, mayo and crisp lettuce on a toasted bulky roll
    </div>
</div>